@use '../base/colors' as *;


.text-center{
    text-align: center;
}

.center{
    align-items: center;
}

.left{
    text-align: left;
    align-items: flex-start;
}

.right{
    text-align: right;
    align-items: flex-end;
}

.w-full{
    width: 100%;
}

hr{
    width: 100%;
    height: 2px;
    background-color: $primary;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px $primary;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.mt-0{
    margin-top: 0px;
}

.mt-16{
    margin-top: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mb-0{
    margin-bottom: 0px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-32{
    margin-bottom: 32px;
}