@use '../base/clases' as *;
@use '../base/colors' as *;


.btn-base {
  background-color: $dark;
  color: $light;
  border: 1px solid $primary;

  &:hover {
    color: $primary;
    box-shadow: $glow-secondary 0px 0px 10px;
  }
}

.btn-delete {
  background-color: $danger;
  color: $light;
  border: 1px solid $danger;

  &:hover {
    background-color: $dark;
    color: $danger;
    box-shadow: $glow-danger 0px 0px 10px;
  }
}

.btn-info {
  background-color: $dark;
  color: $light;
  border: 1px solid $info;

  &:hover {
    background-color:$info ;
    color: $dark;
    box-shadow: $glow-info 0px 0px 10px;
  }
}

.btn-edit {
  background-color: $primary;
  color: $light;
  border: 1px solid $info;

  &:hover {
    background-color: $dark;
    color: $secondary;
    box-shadow: $glow-info 0px 0px 10px;
  }
}

.btn-success {
  background-color: $success;
  color: $light;
  border: 1px solid $success;

  &:hover {
    background-color: $dark;
    color: $success;
    box-shadow: $glow-success 0px 0px 10px;
  }
}

.btn-disabled {
  background-color: $disabled;
  color: $greysed;
  box-shadow: none;
  border: 1px solid $info;
  pointer-events: none;
  user-select: none;
}

.btn-unbordered {
  border: none;
  box-shadow: none;
  background-color: $dark;

}

.btn:not(.btn-unbordered):active::after {
  animation: btn-scan 2s linear;
}

.btn {
  position: relative;
  overflow: hidden;
  padding: 8px 16px;
  border-radius: 8px;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    top: -60%;
    left: -20%;
    width: 95%;
    height: 220%;
    background: linear-gradient(120deg,
        transparent 0%,
        rgba(2, 248, 248, 0.511) 50%,
        transparent 90%);
    transform: translateX(-80%);
    pointer-events: none;
  }

  &:active::after {
    animation: btn-scan 0.45s ease-out;
  }

  &:active {
    box-shadow: none;
  }

}

@keyframes btn-scan {
  to {
    transform: translateX(120%);
  }
}