@use 'src/styles/base/colors' as *;

.item-row {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  border-bottom: 1px solid $glow-tertiary;

  cursor: pointer;

  &:hover {
    background-color: $dark;
  }
}

.item-avatar {
  width: 48px;
  height: 48px;

  border-radius: 50%;
  background-color: $dark;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 28px;
    height: 28px;
  }
}

.item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  font-weight: 600;
  color: var(primary);
  margin-right: 8px;
}

.item-status {
  font-size: 12px;

  &.open {
    color: $glow-success;
  }

  &.closed {
    color: $danger;
  }
}

.item-subtitle {
  font-size: 13px;
  color: $info;
}
