<div class="container fixed-top">

  <generic-header [titleConfig]="titleConfig"></generic-header>

</div>

<div class="section-container  h-full primary glow-1">

 <div class="half-container text-center">
  <shop-detail [shop]="selectedShop" class="center"></shop-detail>
</div>


  <div class="half-container">
    <div>
      <div *ngFor="let shop of shops" (click)="onSelectShop(shop)"  [class.selected]="shop.id === selectedShop?.id">
        
        <generic-item-row [cardConfig]="shop"></generic-item-row>

      </div>

    </div>
  </div>



</div>