<div class="container fixed-top">

  <generic-header [titleConfig]="titleConfig"></generic-header>

</div>

<div class="section-container  h-full primary glow-1">

 <div class="half-container text-center">
  <h1 class="primary ">Detalle de la tienda</h1>

  <ng-container *ngIf="selectedShop; else emptyDetail">
    <img [src]="getShopIcon(selectedShop.type)" [alt]="selectedShop.type">
    <p><strong>Nombre:</strong> {{ selectedShop.name }}</p>
    <p><strong>Dirección:</strong> {{ selectedShop.address }}</p>
    <p><strong>Ciudad:</strong> {{ selectedShop.city }}</p>
    <p><strong>Telefono:</strong> {{ selectedShop.phone }}</p>
    <p>
      <strong>Estado:</strong>
      {{ selectedShop.isOpen ? 'Abierto' : 'Cerrado' }}
    </p>
  </ng-container>

  <ng-template #emptyDetail>
    <p class="text-center">
      Seleccioná un comercio de la lista
    </p>
  </ng-template>
</div>


  <div class="half-container">
    <div>
      <div *ngFor="let shop of shops" (click)="onSelectShop(shop)"  [class.selected]="shop.id === selectedShop?.id">
        <generic-item-row [cardConfig]="shop"></generic-item-row>

      </div>

    </div>
  </div>



</div>